
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 48 95% 98%; /* Very light banana cream */
    --foreground: 30 50% 10%; /* Dark brown */
    --card: 48 95% 98%;
    --card-foreground: 30 50% 10%;
    --popover: 48 95% 98%;
    --popover-foreground: 30 50% 10%;
    --primary: 48 96% 59%; /* Banana Yellow */
    --primary-foreground: 30 50% 10%;
    --secondary: 48 95% 94%;
    --secondary-foreground: 30 50% 10%;
    --muted: 48 95% 94%;
    --muted-foreground: 30 50% 40%;
    --accent: 48 95% 90%; 
    --accent-foreground: 30 50% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 48 95% 88%;
    --input: 48 95% 92%;
    --ring: 48 96% 59%;
    --radius: 0.8rem;
    --header-height: 3.5rem;
    --bottom-nav-height: 3.5rem;
    --chart-1: 48 96% 59%;
    --chart-2: 30 96% 59%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
 
  .dark {
    --background: 30 10% 10%; /* Very dark brown */
    --foreground: 48 95% 94%; /* Light cream */
    --card: 30 10% 12%; 
    --card-foreground: 48 95% 94%;
    --popover: 30 10% 8%;
    --popover-foreground: 48 95% 94%;
    --primary: 48 96% 59%; /* Banana Yellow */
    --primary-foreground: 30 50% 10%;
    --secondary: 30 10% 18%;
    --secondary-foreground: 48 95% 94%;
    --muted: 30 10% 18%;
    --muted-foreground: 48 95% 70%;
    --accent: 30 10% 22%;
    --accent-foreground: 48 95% 94%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 48 95% 94%;
    --border: 30 10% 22%;
    --input: 30 10% 18%;
    --ring: 48 96% 59%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
     overscroll-behavior-y: contain; /* Disable pull-to-refresh */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Standard syntax */
  }

  /* Prevent image context menu */
  img {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-drag: none;
  }
}

@layer components {
    .bg-grid-pattern {
        background-image: linear-gradient(to right, hsl(var(--border)) 1px, transparent 1px), linear-gradient(to bottom, hsl(var(--border)) 1px, transparent 1px);
        background-size: 3rem 3rem;
    }
}
